﻿@model IEnumerable<GShopConnection.category>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><a href="@Url.Action("ViewProductByCatId", "Product", new {@id =item.CatID })">@item.CatName</a></h4>
        </div>
    </div>
}

