﻿@model IEnumerable<GShopConnection.product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GShopLayout.cshtml";
}
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            @Html.Action("Index", "Category")
        </div><!--/category-products-->

        <div class="brands_products">
            <!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    @Html.Action("Index", "Brand")
                </ul>
            </div>
        </div><!--/brands_products-->

        <div class="price-range">
            <!--price-range-->
            <h2>Price Range</h2>
            <div class="well text-center">
                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
            </div>
        </div><!--/price-range-->

        <div class="shipping text-center">
            <!--shipping-->
            <img src="~/Assets/images/home/shipping.jpg" alt="" />
        </div><!--/shipping-->

    </div>
</div>
<div class="col-sm-9 padding-right">
    <div class="features_items">
        <!--features_items-->
        <h2 class="title text-center">Features Items</h2>
        @foreach (var item in Model)
        {
            <div class="col-sm-3">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center simpleCart_shelfItem">
                            <img src="@Url.Content("~/Assets/"+ @item.Image)" />
                            <h2 class="item_price">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:C0}", @item.Price)</h2>
                            <p style="min-height:50px" class="">@item.ProName</p>
                            <a href="#" class="btn btn-default add-to-cart item_add"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            <a href="@Url.Action("Details", "Product", new { id = item.ProID})" class="btn btn-default add-to-cart"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div><!--features_items-->

    <div class="category-tab">
        <!--category-tab-->
        
    </div><!--/category-tab-->

    <div class="recommended_items">
        <!--recommended_items-->
        
    </div><!--/recommended_items-->

</div>

