﻿@model PetaPoco.Page<GShopConnection.product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 style ="color:red;">DANH SÁCH SẢN PHẨM</h2>

<div class="table-responsive">
    
    <div class="box-header">
        <h3 class="box-title">
            <a type="submit" class="btn btn-primary btn-lg" href="@Url.Action("Create", "AdminProduct")">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Thêm sản phẩm
            </a>
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="sanpham" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>@Html.DisplayName("Tên Sản Phẩm")</th>
                    <th>@Html.DisplayName("Mô tả ngắn")</th>
                    <th>@Html.DisplayName("Mô tả đầy đủ")</th>
                    <th>@Html.DisplayName("Giá")</th>
                    <th>@Html.DisplayName("Mã Loại")</th>
                    <th>@Html.DisplayName("Số lượng")</th>
                    <th>@Html.DisplayName("Mã nhà sx")</th>
                    <th>@Html.DisplayName("Lượt xem")</th>
                    <th>@Html.DisplayName("Số lượng đã bán")</th>
                    <th>@Html.DisplayName("Sửa")</th>
                    <th>@Html.DisplayName("Xóa")</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.ProID</td>
                        <td>@item.ProName</td>
                        <td>@item.TinyDes</td>
                        <td>@item.FullDes</td>
                        <td>@item.Price</td>
                        <td>@item.CatID</td>
                        <td>@item.Quantity</td>
                        <td>@item.BraID</td>
                        <td>@item.View</td>
                        <td>@item.Sold</td>
                        <th>
                            <a type="submit" class="btn btn-success" href="@Url.Action("Edit", "AdminProduct", new { id = item.ProID })">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </a>

                        </th>
                        <th>
                            <a type="submit" class="btn btn-danger" href="@Url.Action("Delete", "AdminProduct", new { id = item.ProID })">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>

        </table>
    </div>
    <div>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <ul class="pagination">
                <li><a href="?page=@i"> @i </a></li>
            </ul>
        }
    </div>
    <!-- /.box-body -->
</div>


