﻿@model IEnumerable<GShopConnection.brand>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <li><a href="@Url.Action("ViewProductByBraId", "Product", new {@id =item.BraID })"> <span class="pull-right"></span>@item.BraName</a></li>
}
